@import "tailwindcss";

@plugin "daisyui/theme" {
  name: "nostalgia";
  default: true;
  prefersdark: false;
  color-scheme: "light";
}
@theme{
  /* fundo */
  --color-base-100: #d4d0c8; 
  /* destaque */
  --color-base-200: #e0ddd8; 
  /* cor das bordas */
  --color-base-300: #808080;
  /* cor do texto principal */
  --color-base-content: oklch(20% 0.01 240); 

  /* azul */
  --color-primary: #0a246a; 

  --color-male: #C0C0FF;
  --color-female: #FFC0C0;

  /* quadrados */
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
}

:root {
  display: block};

#FamilyChart {
  background: white !important;
}

/* fundo dos cards */
#FamilyChart .card-body,
#FamilyChart .card-female,
#FamilyChart .card-male,
#FamilyChart .card-main {
  fill: white !important;
  stroke: black !important;
}

/* textos */
#FamilyChart text,
#FamilyChart .card-text,
#FamilyChart tspan {
  fill: black !important;
  color: black !important;
}

/* linhas de conexão */
#FamilyChart path,
#FamilyChart line,
#FamilyChart .link {
  stroke: black !important;
}

/* mini tree */
#FamilyChart .mini-tree line,
#FamilyChart .mini-tree path {
  stroke: black !important;
}